In [2]:
import pandas as pd
l=[10,20,30,40]
pd.Series(l)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
pd.Series(l,index=['i','ii','iii','iv'])

i      10
ii     20
iii    30
iv     40
dtype: int64

In [4]:
d={'name':['ravali','suriya','maha'],'percentage':[90,85,95]}
pd.DataFrame(d)

     name  percentage
0  ravali          90
1  suriya          85
2    maha          95

In [1]:
import pandas as pd
d=pd.read_csv("")