In [2]:
import pandas as pd
df=pd.read_csv("DSP MARKS.csv")
df

    S.NO CLASS     ID NO SUBJECT  MARKS
0      1    2E   S180233     DSP     40
1      2    2C   S180462      WT     35
2      3    2B  S1801010     IOR     38
3      4    2A  S1801018      WT     35
4      5    2D   S180432      WT     32
5      6    2E   S180056     IOR     34
6      7    2B   S180255     DSP     20
7      8    2C   S180465      WT     39
8      9    2C   S180455      CD     40
9     10    2E   S180222     COA     23
10    11    2A   S180234      CD     38

In [3]:
print(df.groupby(["SUBJECT"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000243FA8AD748>

In [6]:
a=df.groupby(["SUBJECT","ID NO"])

In [7]:
print(a.groups)

{('CD', 'S180234'): Int64Index([10], dtype='int64'), ('CD', 'S180455'): Int64Index([8], dtype='int64'), ('COA', 'S180222'): Int64Index([9], dtype='int64'), ('DSP', 'S180233'): Int64Index([0], dtype='int64'), ('DSP', 'S180255'): Int64Index([6], dtype='int64'), ('IOR', 'S180056'): Int64Index([5], dtype='int64'), ('IOR', 'S1801010'): Int64Index([2], dtype='int64'), ('WT', 'S1801018'): Int64Index([3], dtype='int64'), ('WT', 'S180432'): Int64Index([4], dtype='int64'), ('WT', 'S180462'): Int64Index([1], dtype='int64'), ('WT', 'S180465'): Int64Index([7], dtype='int64')}

In [10]:
print(df.groupby(["SUBJECT"]).max())

         S.NO CLASS     ID NO  MARKS
SUBJECT
CD         11    2C   S180455     40
COA        10    2E   S180222     23
DSP         7    2E   S180255     40
IOR         6    2E  S1801010     38
WT          8    2D   S180465     39

In [11]:
print(df.groupby(["SUBJECT"]).min())

         S.NO CLASS     ID NO  MARKS
SUBJECT
CD          9    2A   S180234     38
COA        10    2E   S180222     23
DSP         1    2B   S180233     20
IOR         3    2B   S180056     34
WT          2    2A  S1801018     32

In [12]:
print(df.groupby(["SUBJECT"]).groups)

{'CD': Int64Index([8, 10], dtype='int64'), 'COA': Int64Index([9], dtype='int64'), 'DSP': Int64Index([0, 6], dtype='int64'), 'IOR': Int64Index([2, 5], dtype='int64'), 'WT': Int64Index([1, 3, 4, 7], dtype='int64')}

In [14]:
print(df.groupby(["CLASS"]).max())

       S.NO    ID NO SUBJECT  MARKS
CLASS
2A       11  S180234      WT     38
2B        7  S180255     IOR     38
2C        9  S180465      WT     40
2D        5  S180432      WT     32
2E       10  S180233     IOR     40

In [16]:
print(df.groupby(["CLASS"]).groups)

{'2A': Int64Index([3, 10], dtype='int64'), '2B': Int64Index([2, 6], dtype='int64'), '2C': Int64Index([1, 7, 8], dtype='int64'), '2D': Int64Index([4], dtype='int64'), '2E': Int64Index([0, 5, 9], dtype='int64')}

In [23]:
g=df.groupby(["CLASS"])
print(g.get_group("2C"))

   S.NO CLASS    ID NO SUBJECT  MARKS
1     2    2C  S180462      WT     35
7     8    2C  S180465      WT     39
8     9    2C  S180455      CD     40

In [24]:
df["CLASS"].value_counts()

2E    3
2C    3
2A    2
2B    2
2D    1
Name: CLASS, dtype: int64